.container {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 4px;
}

.container::-webkit-scrollbar {
    width: 8px;
    margin-left: 4px;
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    background: var(--primary-gray);
    border-radius: 4px;
    cursor: default;
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-gray-hover);
}