.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(550px, 100%), 1fr));
    gap: 16px;
    min-height: 100%;
    align-items: flex-start;
}

.cell_container {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 8px;
    gap: 8px;
    padding: 16px;
}

.cell_label {
    color: var(--light-foreground);
}

.cell_data_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 24px;
}

.list_main,
.list_sub {
    border-bottom: solid 3px var(--light-gray);
    padding: 8px 0;
}

.list_row {
    display: flex;
    gap: 8px;
}

.list_label {
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    text-overflow: ellipsis;
}

.list_data {
    padding-right: 8px;
    text-align: right;
    flex: 1;
}

.list_info {
    display: block;
    padding: 4px 8px 0 8px;
    font-size: var(--caption);
    color: var(--black-gray);
}

.list_sub {
    font-size: var(--caption);
    color: var(--light-foreground);
}

.list_sub>.list_label>span {
    margin-left: 4px;
}