.horizantal {
    display: flex;
    align-items: center;
}

.horizantal_left {
    composes: horizantal;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.horizantal_center {
    composes: horizantal;
    flex-wrap: wrap;
    justify-content: center;
}

.horizantal_right {
    composes: horizantal;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.horizantal_stretch {
    composes: horizantal;
    justify-content: space-between;
}

.horizantal_fit {
    composes: horizantal;
}

.two_container {
    display: grid;
    gap: 8px;
}

.two_cells {
    display: flex;
}

.two_cells img {
    width: 100% !important;
}