:root {
  /* Colors */
  --background: #e9edf3;
  --foreground: #2e2e2e;
  --surface: #ffffff;

  --light-gray: #E9E9E9;
  --gray: #D9D9D9;
  --dark-gray: #C8C8C8;
  --black-gray: #8f8f8f;
  --light-foreground: #6c6c6c;
  --primary: #4369DB;
  --dark-primary: #3457c1;
  --light-primary: #6d8be6;
  --primary-gray: #CED8F6;
  --primary-gray-hover: #b7c6f0;
  --primary-light-gray: #e2e8fa;

  /* FontSize */
  --leadings: 32px;
  --sub-leadings: 24px;
  --text: 18px;
  --control: 16px;
  --caption: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: var(--text);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--leadings);
  font-weight: bolder;
}

h2 {
  font-size: var(--sub-leadings);
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

.article_area h2 {
  font-size: 48px;
}

.article_area h3 {
  font-size: 32px;
}

.article_area h4 {
  font-size: 24px;
}

.article_area p {
  font-size: var(--text);
}

/* 
.article>*+* {
  margin-top: var(--article-space, 1.2em);
}

.article h2,
.article h3,
.article h4 {
  --article-space: 2em;
}

.article h2+*,
.article h3+*,
.article h4+*,
.article img+* {
  --article-space: 0.8em;
}

.article p {
  line-height: 1.8;
} */


.article_area>*+* {
  margin-top: var(--article_area-space, 1.5em);
}

.article_area h2,
.article_area h3,
.article_area h4 {
  --article_area-space: 2em;
}

.article_area h2+*,
.article_area h3+*,
.article_area h4+*,
.article_area img+* {
  --article_area-space: 0.8em;
}

.article_area p {
  line-height: 1.6em;
}

.article_area ol {
  padding: revert;
  list-style: revert;
}

.article_area ul {
  padding: revert;
  list-style: revert;
}

.article_area li {
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

.ignore_margin_bottom {
  margin-bottom: 0 !important;
}

.article_area a {
  color: var(--primary
      /*replace*/
    );
  margin: 2px;
  text-decoration: underline;
}

/* .article_area b {
  background-color: var(--primary-light-gray);
  color: #536087;
  padding: 1px 4px;
  border-radius: 4px;
} */

/* .article_area div {
    background-color: var(--preaccent);
    padding: var(--space-md);
    width: fit-content;
} */

.article_area figcaption {
  font-size: var(--caption);
  color: var(--dark-gray
      /*replace*/
    );
}


.article_area blockquote {
  margin-left: 0;
  margin-right: 0;
  border-left: 5px solid var(--dark-gray
      /*replace*/
    );
  padding: 8px
    /*replace*/
    0 8px
    /*replace*/
    8px
    /*replace*/
  ;
}

.article_area div[data-filename] {
  position: relative;
}

.article_area div[data-filename]>span {
  color: var(--darkgray);
  position: absolute;
  font-size: var(--caption);
  top: 4px
    /*replace*/
  ;
  left: 88px;
}

.article_area div[data-filename]>span::before {
  content: 'ãƒ»';
  margin-right: 8px;
}

/* .article_area div[data-filename] > span{
    display: inline-block;
    background-color: var(--dark-gray/*replace);
    color: var(--white);
    padding: 4px/*replace;
    border-radius: 4px/*replace 4px/*replace 0 0;
    font-size: var(--caption);
}

.article_area div[data-filename] > pre{
    margin-top: 0;
}

.article_area div[data-filename] > pre > code{
    border-radius: 0 8px/*replace 8px/*replace 8px/*replace;
    font-family: inherit;
    line-height: 1.4rem;
}

.article_area > pre > code{
    border-radius: 8px/*replace;
} */

.article_area img {
  border: solid 1px #000000
    /*replace*/
  ;
  border-radius: 8px
    /*replace*/
  ;
  width: 100%;
  height: auto;
}

.article_area .screenshots {
  width: 60%;
}

.article_area table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  outline: 1px solid #000000
    /*replace*/
  ;
  border-radius: 8px
    /*replace*/
  ;
  border-spacing: 0;
  overflow: hidden;
}

.article_area table>tbody,
.article_area table>thead {
  width: 100%;
}

.article_area th {
  padding: 10px;
  background-color: var(--background
      /*replace*/
    );
  text-align: left;
}

.article_area td {
  padding: 10px;
}

.article_area th,
.article_area td {
  border: 1px solid #000000
    /*replace*/
  ;
}

.article_area td[rowspan] {
  border-bottom: 1px solid #000000
    /*replace*/
  ;
}

.article_area tbody>tr>th:last-of-type {
  border-right: none;
}

.article_area table>tbody>tr:first-of-type>td,
.article_area table>tbody>tr:first-of-type>th {
  border-top: none;
}


.article_area table>tbody>tr>td:last-of-type {
  border-right: none;
}

.article_area table>tbody>tr>td:first-of-type,
.article_area table>tbody>tr>th:first-of-type {
  border-left: none;
}

.article_area table>tbody>tr:last-of-type>td,
.article_area table>tbody>tr:last-of-type>th {
  border-bottom: none;
}