:root {
  /* Colors */
  --background: #e9edf3;
  --foreground: #2e2e2e;
  --surface: #ffffff;

  --light-gray: #E9E9E9;
  --gray: #D9D9D9;
  --dark-gray: #C8C8C8;
  --black-gray: #8f8f8f;
  --light-foreground: #6c6c6c;
  --primary: #4369DB;
  --dark-primary: #3457c1;
  --light-primary: #6d8be6;
  --primary-gray: #CED8F6;
  --primary-gray-hover: #b7c6f0;
  --primary-light-gray: #e2e8fa;

  /* FontSize */
  --leadings: 32px;
  --sub-leadings: 24px;
  --text: 18px;
  --control: 16px;
  --caption: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: var(--text);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--leadings);
  font-weight: bolder;
}

h2 {
  font-size: var(--sub-leadings);
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}