.container {
  padding: 16px 16px 0 16px;
}

.input_text {
  width: 100%;
  font-size: var(--control);
  padding: 10px 8px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 4px;
  outline: none;
  margin-bottom: 8px;
}