.container {
    background-color: var(--surface);
    border-radius: 8px;
    margin-bottom: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 125px;
    background-color: var(--background);
    border-radius: 8px;
    gap: 4px;
}