.wrapper {
    margin-top: 16px;
    /*Temporate*/
}

.wrapper_caption {
    font-size: var(--text);
    font-weight: bolder;
    color: var(--light-foreground);
}

.container {
    width: 100%;
    background-color: white;
    overflow-x: auto;
    margin-bottom: 8px;
    position: relative;
    height: 160px;
}

.container::-webkit-scrollbar {
    height: 8px;
}

.container::-webkit-scrollbar-thumb {
    background: var(--primary-gray);
    border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-gray-hover);
}

.container_nodata {
    width: 100%;
    height: 160px;
    background-color: var(--light-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--light-foreground);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
}