.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.page {
    flex: 1;
    height: 100%;
}

.wrapper {
    background-color: var(--surface);
    border-radius: 8px;
    margin: 16px;
    height: calc(100% - 32px);
    display: flex;
}

.article_area {
    padding: 32px;
}

.bc {
    background-color: #f7f7f7;
    color: var(--light-foreground);
    padding: 1px 4px;
    border-radius: 4px;
    font-size: var(--control);
}

.background_container {
    padding: 16px;
    background-color: #f7f7f7;
    border-radius: 8px;
}