.textarea {
    width: 100%;
    height: 200px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f7f7f7;
    color: var(--light-foreground);
    font-size: var(--control);
    resize: none;
    outline: none;
    margin-bottom: 4px;
}

.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-thumb {
    background: var(--primary-gray);
    border-radius: 4px;
    cursor: default;
}

.textarea::-webkit-scrollbar-thumb:hover {
    background: var(--primary-gray-hover);
}

.container {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 8;
    left: 10;
    color: var(--gray);
    pointer-events: none;
}