.container {
    width: 100%;
    height: 100%;
}

.thumb {
    width: 30px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--primary-gray);
    transition-duration: 0.2s;
}

.thumb:hover {
    background-color: var(--primary-gray-hover);
}

.thumb_area {
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}