.container {
    background-color: rgb(245, 247, 255);
    border-radius: 8px;
    padding-bottom: 8px;
}

.header {
    padding: 6px 6px 6px 24px;
    border-bottom: solid 1px var(--primary-gray);
}

.code_label {
    font-size: var(--control);
    color: var(--primary-gray);
}